.body-white{
	background-color: white;
}

body > .section{
    margin: 50px auto;
}
.nav-menu .nav-item{
	display: block;
}
.nav-item .is-hidden-tablet-only{
	margin-left: .5rem;
}
nav .nav-left{
	overflow: hidden;
}
.hero-head{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: white;
}

.italic{
	font-style: italic;
}

.hero-body{
	margin-top: 60px;
}

.skills, .skills .button{
	margin-bottom: 1.5rem;
}

.box img{
	border-radius: 5px;
}
.notification .info-skill{
	max-width: 700px;
	z-index: 2;
}
.info-skill .logo{
	max-width: 30px;
	margin: auto 0;
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: -1;
}